<%- include('./layout/header', {title: title, titleDetail: ''}) %>
<%- include('./layout/menu', {pagename: 'main'}) %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%= title %></h1> 
    </div>
</div>

<%- include('./layout/footer') %>